<!DOCTYPE html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/common/about.css">
    <script src="/common/loader.js"></script>
    
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/common/jquery-3.7.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div id="nav-placeholder">
        {{>navbar}}
    </div>
     
    {{{body}}}
    
</body>
</html>