<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/common/main.css">
        <link rel="stylesheet" href="/common/mainMenu.css">
        <link rel="stylesheet" href="/common/mainMenuBody.css">
        <link rel="stylesheet" type="text/css" href="/common/navbar.css">

        <script src="/common/jquery-3.7.1.min.js"></script>
        <script src="/common/filterHandler.js"> </script>
        <script src="/common/loader.js"> </script>
        <script src="/common/mainMenu.js"> </script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">
        <script>
            function nextPage(){
                window.location.href = "mainMenu2.html";
            }
        </script>
    </head> 

    <body>
       {{>navbar}}
        
        {{{body}}}
        

    </body>

    <script>

        $(function(){
          //$("#nav-placeholder").load("../navbar/navbar.html");
        });


        function redirectToGeneralPage() {
            window.location.href="../ReservePage/studentView1.html";
        };
        function redirectToGeneralPage1() {
            window.location.href="../ReservePage/studentView2.html";
        };
        function redirectToGeneralPage2() {
            window.location.href = "../ReservePage/studentView3.html";
        };

      /*  window.onload = function() {
            loadNav({{user}});
        };*/


        

    </script>


</html>