<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <link href="/common/modifyRoom.css" rel="stylesheet">
    <script src="/common/jquery-3.7.1.min.js"></script>
    <script src="/common/modifyLab.js"></script>
    <script>
        function redirectRoom(){
            history.back();
        }
    </script>
</head>
<body>
    <div class="bg">
        <img src="/images/computerLab.jpg">
    </div>
    <header>
        <div id="nav-placeholder">
            
        </div>
    </header>
{{{body}}}
</body>
</html>