<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- It makes it so that the contents of the public folder are exposed -->
    <!-- on the same directory as the page displayed. -->
    <link href="/common/main.css" rel="stylesheet">
    <link href="/common/register.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/common/registerHelper.js"></script>
    
  </head>
  <body>
{{{body}}}
  </body>
</html>
