{{!-- Free slot --}}
<div class="modal" id="modalA">
  <div class="modal-header">
    <div id="title" class="text">Available</div>
    <div id="status" class="text">Available</div>
    <div id="xcontainer"></div><button data-close-button class="close-button">&times;</button>
  </div>
  <div class="content">
    <div class="modal-body">
      <div class="date text">Date: 2024-2-12</div>
      <div class="time text">Time: 9:00-9:30</div>
      <div class="user-input-container">
          <div class="text">Reserve For: </div>
          <div>
              <label class="text" for="reserved-name">Name: </label>
              <input type="text" id="reserved-name">
          </div>

          <div>
              <label class="text" for="reserved-email">Email: </label>
              <input type="text" id="reserved-email">
          </div>

            <input type="checkbox" id="anon">
            <label for="anon" class="text">Reserve Anonymously</label>

      </div>
      <div><button data-reserve-button id="reserve" class="text">Reserve</button></div>
    </div>
  </div>

{{!-- reserved slot --}}
</div>
<div class="modal" id="modalB">
  <div class="modal-header">
    <div id="title" class="text">Reserved</div>
    <div id="status" class="text">Reserved</div>
    <div id="xcontainer"></div><button data-close-button class="close-button">&times;</button>
  </div>
  <div class="content">
    <div class="modal-body">
      <div class="date text">Date: 2024-2-12</div>
      <div class="time text">Time: 9:00-9:30</div>
      <div class="reserver-details">
              <div class="name-placeholder text">Reserver Name: </div>
              <div><a class="text" id="reserver-name" >Alex Chang</a></div>
      </div>
      <div><button data-cancel-button class="cancel">Cancel Reservation</button></div>
    </div>
  </div>

</div>

{{!-- Walk-in reserved slot --}}
<div class="modal" id="modalC">
  <div class="modal-header">
    <div id="title" class="text">Reserved</div>
    <div id="status" class="text">Reserved</div>
    <div id="xcontainer"></div><button data-close-button class="close-button">&times;</button>
  </div>
  <div class="content">
    <div class="modal-body">
      <div class="date text">Date: 2024-2-12</div>
      <div class="time text">Time: 9:00-9:30</div>
      <div class="reserver-details">
              <div class="name-placeholder text">Walk-in Reserver Name: </div>
              <div><a class="text" id="reserver-name" >Alex Chang</a></div>
      </div>
      <div><button data-cancel-button class="cancel">Cancel Reservation</button></div>
    </div>
  </div>

</div>

<div id="overlay"></div>
