<div class="modal" id="modalA">
      <div class="modal-header">
        <div id="title" class="text">Available</div>
        <div id="status" class="text">Available</div>
        <div id="xcontainer"><button data-close-button class="close-button">&times;</button></div>
      </div>
      <div class="content">
        <div class="modal-body">
          <div class="date text">Date: 2024-2-12</div>
          <div class="time text">Time: 9:00-9:30</div>
          <div class="user-input-container">
            <input type="checkbox" id="anon">
            <label for="anon" class="text">Reserve Anonymously</label>
          </div>
          <div class="reserve-button-container"><button data-reserve-button id="reserve">Reserve</button></div>
        </div>
      </div>

    </div>
    <div class="modal" id="modalB">
      <div class="modal-header">
        <div id="title" class="text">Reserved</div>
        <div id="status" class="text">Reserved</div>
        <div id="xcontainer"></div><button data-close-button class="close-button">&times;</button>
      </div>
      <div class="content">
        <div class="modal-body">
          <div class="date text">Date: 2024-2-12</div>
          <div class="time text">Time: 9:00-9:30</div>
          <div class="reserver-details">
              <div class="name-placeholder text">Reserver Name: </div>
              <div><a class="text" id="reserver-name" href="../Profile/profilePublic.html" >Alex Chang</a></div>
          </div>
          <div><button data-reserve-button class="close">Close</button></div>
        </div>
      </div>

    </div>

    <div class="modal" id="modalC">
      <div class="modal-header">
        <div id="title" class="text">Reserved</div>
        <div id="status" class="text">Reserved</div>
        <div id="xcontainer"></div><button data-close-button class="close-button">&times;</button>
      </div>
      <div class="content">
        <div class="modal-body">
          <div class="date text">Date: 2024-2-12</div>
          <div class="time text">Time: 9:00-9:30</div>
          <div class="reserver-details">
              <div class="name-placeholder text">Reserver Name: Anonymous</div>
          </div>
          <div><button data-cancel-button class="close">Close</button></div>
        </div>
      </div>

    </div>

    <div class="modal" id="modalD">
      <div class="modal-header">
        <div id="title" class="text">Reserved</div>
        <div id="status" class="text">Reserved</div>
        <div id="xcontainer"></div><button data-close-button class="close-button">&times;</button>
      </div>
      <div class="content">
        <div class="modal-body">
          <div class="date text">Date: 2024-2-12</div>
          <div class="time text">Time: 9:00-9:30</div>
          <div class="reserver-details">
              <div class="name-placeholder text">Reserver Name: </div>
              <div ><a href="../Profile/profilePublic.html" id="reserver-name" class="text">Maya Rodriguez</a></div>
          </div>
          <div><button data-cancel-button class="cancel">Cancel Reservation</button></div>
        </div>
      </div>
    </div>
    

    <div class="modal" id="modalE">
      <div class="modal-header">
        <div id="title" class="text">Reserved</div>
        <div id="status" class="text">Reserved</div>
        <div id="xcontainer"></div><button data-close-button class="close-button">&times;</button>
      </div>
      <div class="content">
        <div class="modal-body">
          <div class="date text">Date: 2024-2-12</div>
          <div class="time text">Time: 9:00-9:30</div>
          <div class="reserver-details">
              <div class="name-placeholder text">Reserver Name: Anonymous(YOU)</div>
          </div>
          <div><button data-cancel-button class="cancel">Cancel Reservation</button></div>
        </div>
      </div>
    </div>

    <div class="modal" id="modalF">
      <div class="modal-header">
        <div id="title" class="text">Reserved</div>
        <div id="status" class="text">Reserved</div>
        <div id="xcontainer"></div><button data-close-button class="close-button">&times;</button>
      </div>
      <div class="content">
        <div class="modal-body">
          <div class="date text">Date: 2024-2-12</div>
          <div class="time text">Time: 9:00-9:30</div>
          <div class="reserver-details">
              <div class="name-placeholder text">Walkin Reserver Name: </div>
              <div ><a id="reserver-name" class="text">Maya Rodriguez</a></div>
          </div>
          <div><button data-cancel-button class="close">Close</button></div>
        </div>
      </div>
    </div>

    <div id="over"></div>